{% extends 'base.html' %} {% block content %}

<h1>Gem Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ gem.name }}</span>
        <p>Color: {{ gem.color }}</p>
        <p>Description: {{ gem.description }}</p>
        <p>Uses: {{ gem.uses }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'gems_update' gem.id %}">Edit</a>
        <a href="{% url 'gems_delete' gem.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_cleaning' gem.id %}" method="post">
      {% csrf_token %} {{ cleaning_form.as_p }}
      <input type="submit" class="btn green" value="Add Cleaning" />
    </form>
    <br />
    {% if gem.clean_for_today %}
    <div class="card-panel teal-text center-align">
      {{gem.name}} has been cleaned for today
    </div>
    {% else %}
    <div class="card-panel red-text center-align">
      {{gem.name}} might be dirty
    </div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Cleaning</th>
        </tr>
      </thead>
      <tbody>
        {% for cleaning in gem.cleaning_set.all %}
        <tr>
          <td>{{cleaning.date}}</td>
          <td>{{cleaning.get_cleaning_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />

<div class="col s6">
  <h3>{{ gem.name }}'s Jewelry</h3>
  {% if gem.jewelry.count %} {% for jewelry in gem.jewelry.all %}
  <div class="card">
      <div class="card-content">
          <span class="card-title">
              A <span class="{{ jewelry.setting.lower }}-text">
                  {{ jewelry.setting }}</span> {{ jewelry_create.name }}
          </span>
      </div>
  </div>
  {% endfor %} {% else %}
  <h5>No Jewelry 💎</h5>
  {% endif %}
</div>


<div class="col s6">
  <h3>Available Jewelry</h3>
  {% if jewelry.count %}
  {% for jewelry in jewelry.all %}
  <div class="card">
      <div class="card-content">
          <span class="card-title">
              A <span class="{{ jewelry.setting }}-text">{{ jewelry.setting }}</span> {{ jewelry.name }}
          </span>
      </div>
      <div class="card-action">
          <form action="{% url 'assoc_jewelry' gem.id jewelry.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
          </form>
      </div>
  </div>
  {% endfor %}
  {% else %}
  <h5>{{gem.name}} Already Has All Jewelry Settings</h5>
  {% endif %}
</div>
</div>




<script>
  var dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
  var selectEl = document.getElementById("id_cleaning");
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
